body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
}

#products {
    display: flex;
    flex-wrap: wrap; /* Permite que los productos se ajusten a nuevas filas */
    justify-content: space-around;
    margin: 20px;
}

.product {
    background-color: white;
    padding: 15px;
    margin: 10px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 22%; /* Ancho inicial para pantallas grandes */
    box-sizing: border-box;
    text-align: center;
}

.product h3 {
    margin: 10px 0;
}

.product p {
    font-size: 1.1em;
    color: #555;
}

button {
    background-color: #333;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}

#cart {
    position: fixed;
    top: 10px;
    right: 10px;
    background-color: white;
    padding: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

#auth {
    text-align: center;
    margin-top: 50px;
    background-color: #555;
    font-style:unset;
    color:#f4f4f4;
    
}

form {
    margin: 20px;
}

/* Reglas de responsividad */
@media (max-width: 1200px) {
    .product {
        width: 30%; /* 3 productos por fila en pantallas medianas */
    }
}

@media (max-width: 768px) {
    .product {
        width: 45%; /* 2 productos por fila en pantallas pequeñas */
    }
}

@media (max-width: 480px) {
    .product {
        width: 100%; /* 1 producto por fila en pantallas muy pequeñas */
    }
}

#login-button {
    background-color: #555;
    color: white;
    border: none;
    padding: 10px 15px;
    margin-left: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}

#login-button:hover {
    background-color: #555;
}

/* Estilos para el carrousel de imágenes */
.carousel {
    position: relative;
    width: 200px;
    height: 200px;
    margin: 10px 0;
    overflow: hidden;
}

.carousel img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.carousel-button {
    position: absolute;
    top: 45%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    font-size: 10px;
    cursor: pointer;
    padding: 10px;
    z-index: 1;
}

.carousel-button:first-child {
    left: 0;

}

.carousel-button:last-child {
    right: 15px;
}

.product {
    margin: 20px;
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}

.product button {
    margin-top: 10px;
}

footer {
    text-align: center;
    background-color: #f4f4f4;
    padding: 10px 0;
    font-size: 14px;
    color: #555;
    border-top: 1px solid #ddd;
}

footer p {
    margin: 5px 0;
}


.cart-icon {
    margin-right: 5px;
    font-size: 1.0em;
    vertical-align: middle;
}
